<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fox Tamagotchi</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<ul>
  <li>
    <a href=information.html>Information</a>
  </li>
</ul>
<img src="greenfox.png" alt="A green fox">
<p th:text="'This is ' + ${nameOfFox} + '. Currently living on pizza and lemonade. He knows 2 tricks.'"></p>
<h1>Known tricks</h1>
<ul>
  <li>
    <p>Write HTML</p>
  </li>
  <li>
    <p>code in Java</p>
  </li>
</ul>
</body>
</html>