<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bank</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<h1>All Bank accounts</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Animal Type</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="oneAccount : ${allAccounts}">
    <td th:text="${oneAccount.name}"></td>
    <td th:text="${#numbers.formatDecimal(oneAccount.balance, 0, 'COMMA', 2, 'POINT') + ' zebra'}"></td>
    <td th:text="${oneAccount.animalType}"></td>
  </tr>
  </tbody>
</table>
</body>