<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Bank Account</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Balance</th>
          <th>Animal Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${bankAccount.getName()}"></td>
          <td th:text="${bankAccount.getBalance()}"></td>
          <td th:text="${bankAccount.getAnimalType()}"></td>
        </tr>
      </tbody>
    </table>
    <p th:utext="${html}"></p>
    <p th:text="${html}"></p>
  </body>
</html>